.live_popup {
        background-image: url("<?= $layout_name ?>/images/live_bg_v3.png");
        height: 141px;
        background-repeat: no-repeat;
        position: fixed;
        right:0;
        margin-left: 100px;
        bottom: 0;
        z-index: 99999;
        overflow: hidden;
        padding:47px 0px 0px 64px;
    }
        #live_popup_ch{
        -webkit-transition: all .25s linear;
           -moz-transition: all .25s linear;
            -ms-transition: all .25s linear;
             -o-transition: all .25s linear;
                transition: all .25s linear;
        padding-right: 20px;
    }
     #live_popup_ch a{
        float: left;
        position: relative;
    }
     #live_popup_ch img{
        opacity: 1;
    }
    #live_popup_ch a:hover img{
        opacity: 1;
    }
     #live_popup_ch a:hover .img {
        border: solid rgba(255, 255, 255, 1.0) 2px;
    }
    #live_btn{
         position: absolute;
        width: 14px;
    /*height: 14px;*/
        left: 170px;
        background-color: #302C2C;
        text-align: center;
        padding:1px;
        color:#fff;
        border:1px solid #ccc;
        top: 26px;
        cursor: pointer;
    }
    #live_btn i{
        color:#fff;
        /*margin-left: 18px;*/
        /*margin-top: 8px;*/
        /*font-size: 12px;*/
        margin-top:-5px;
        top:-5px;
    }
    .live_popup .each-stream
    {
        background-repeat: no-repeat;
        padding:5px 0px 0px 10px;
        background-image: url('<?= $layout_name ?>/images/each_stream_v3.png');
        height: 89px;
        width: 128px;
        position: relative;
        color:#fff;
    }
    .live_popup .each-stream .channel-name
    {
        height: 17px;
        width: 108px;
        overflow: hidden;
        text-align: center;
        margin-top:13px;
    }